@use "@/styles/breakpoints";
@use "@/styles/sizes";

header {
  padding: sizes.$spacing-small sizes.$spacing-small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2000px;

  @include breakpoints.min(x-large) {
    margin: 0 auto;
  }
}

.dropdown__login-button {
  margin-bottom: sizes.$spacing-xx-small;
}
.dropdown__button {
  min-width: 100%;
}
.dropdown__exit-button {
  min-width: 100%;
}

.dropdown__my-account-button {
  padding: 1.5rem 2rem !important;
}
