@use "@/styles/colors";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.8vh;
  padding: 0 1.8vh;
  max-width: 400px;
  margin: 0 auto;
}

.form-wrapper {
  height: 50%;
  width: 100%;
}

.signin-form {
  padding: 2.2vh 1rem;
}

.signin-form .button-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 2vh;
  align-items: center;
}

.form-wrapper > .error-message {
  display: block;
  text-align: center;
  text-wrap: balance;
}

.button-wrapper > .signin-form__spinner {
  margin: 0 2vh;
}
