@use "@/styles/colors";
@use "@/styles/sizes";
@use "@/styles/breakpoints";

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.input-wrapper__label {
  color: colors.$primary;
  font-weight: 700;
  margin-bottom: 3px;
}

.input-wrapper__input {
  border: 1.8px dashed colors.$primary;
  border-radius: 3px;
  outline: none;
  font-weight: 700;
  width: 100%;
}
.input-wrapper__span {
  padding-top: 2px;
  color: #8c2424;
  font-weight: 700;
}

.input-wrapper__input:focus {
  border-style: solid;
}
