@use "@/styles/sizes";
@use "@/styles/colors";
@use "@/styles/breakpoints";

.button {
  background-color: white;
  border: 1.5px solid colors.$primary;
  border-radius: 3px;
  font-weight: 700;
  padding: 1.2rem;
  @include breakpoints.min(medium) {
    padding: 1rem;
  }
  @include breakpoints.min(large) {
    padding: 0.8rem;
  }
  cursor: pointer;
}

.button--primary {
  background-color: colors.$primary;
  color: white;
}
.button--bluish-green-secondary {
  color: colors.$bluishGreen;
  border: 1.5px solid colors.$bluishGreen;
}

.button--secondary {
  background-color: white;
  color: colors.$primary;
}
.button--secondary-blue {
  background-color: white;
  color: colors.$blue;
  border: 1.5px solid colors.$blue;
}
