@use "@/styles/sizes";
@use "@/styles/colors";
@use "@/styles/breakpoints";

.button {
  background-color: white;
  border: 1.5px solid colors.$primary-color;
  border-radius: 3px;
  font-weight: 700;
  // base 11px a cada 740px de altura
  padding: sizes.calcSizeOfVwPlusVhDividedByTwo(1.5);
  // base 21px a cada 740px de altura
  font-size: sizes.calcSizeOfVwPlusVhDividedByTwo(3.2);
  @include breakpoints.min(medium) {
    font-size: sizes.calcSizeOfVwPlusVhDividedByTwo(2.3);
  }
  cursor: pointer;
}

.button--primary {
  background-color: colors.$primary-color;
  color: white;
}
.button--bluish-green-secondary {
  color: colors.$bluishGreen;
  border: 1.5px solid colors.$bluishGreen;
}

.button--secondary {
  background-color: white;
  color: colors.$primary-color;
}
.button--secondary-blue {
  background-color: white;
  color: colors.$blue;
  border: 1.5px solid colors.$blue;
}
