@use "@/styles/sizes";
@use "@/styles/colors";
@use "@/styles/breakpoints";

.button {
  background-color: white;
  border: 1.5px solid colors.$primary-color;
  border-radius: 3px;
  font-weight: 600;
  // base 11px a cada 740px de altura
  padding: 1.5vh;
  // base 21px a cada 740px de altura
  font-size: 2.85vh;
  // @include breakpoints.min(large) {
  //   // font-size: sizes.$spacing-3x7;
  //   border: 2px solid colors.$primary-color;
  //   padding: sizes.$spacing-3x4;
  // }
  // @include breakpoints.min(x-large) {
  //   // font-size: sizes.$spacing-3x9;
  //   padding: sizes.$spacing-3x5;
  // }
}

.button--primary {
  background-color: colors.$primary-color;
  color: white;
}

.button--secondary {
  background-color: white;
  color: colors.$primary-color;
}
