@use "@/styles/colors";
@use "@/styles/sizes";
@use "@/styles/breakpoints";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 1.8vh;
  padding: sizes.calcSizeOfVwPlusVhDividedByTwo(2);
  margin: 0 auto;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2vh;
  max-width: 500px;
  width: 100%;
  border: 1.5px solid colors.$primary-color;
  border-radius: 6px;
  padding: sizes.calcSizeOfVwPlusVhDividedByTwo(3);
  @include breakpoints.min(medium) {
    padding: sizes.calcSizeOfVwPlusVhDividedByTwo(2.5);
  }
}

.inputFullColumn {
  grid-column: 1 / -1;
}

.button {
  grid-column: 4/7;
  margin-top: 1.5vh;
}

.spinner {
  grid-column: 3 / 4;
}

@media only screen and (min-width: 320px) {
  .formContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .phoneInput {
    grid-column: 1 / 4;
  }
  .zipcodeInput {
    grid-column-start: 4;
  }
  .numberInput {
    grid-column: 1 / 2;
  }
  .cityInput {
    grid-column: 2 / 7;
  }
}
