@use "@/styles/colors";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 1.8vh;
  padding: 2.5vh;
  margin: 0 auto;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2vh;
  max-width: 400px;
  width: 100%;
  border: 3px solid colors.$primary-color;
  border-radius: 6px;
  padding: 2.2vh 1rem;
  align-items: center;
}
.form-container__input--full-column {
  grid-column: 1 / -1;
}

.form-container__button {
  grid-column: 4/7;
  margin-top: 1.5vh;
}

.form-container__spinner {
  grid-column: 3 / 4;
}

@media only screen and (min-width: 320px) {
  .form-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .form-container__phone-input {
    grid-column: 1 / 4;
  }
  .form-container__zipcode-input {
    grid-column-start: 4;
  }
  .form-container__number-input {
    grid-column: 1 / 2;
  }
  .form-container__city-input {
    grid-column: 2 / 7;
  }
}
