@use "@/styles/breakpoints";

@mixin sizes($size) {
  width: $size;
  height: $size;
}
.logo {
  position: relative;
  // base 55px a cada 667px de altura
  @include sizes(8.25vh);
  // @include breakpoints.min(medium) {
  //   @include sizes(60px);
  // }
  // @include breakpoints.min(x-large) {
  //   @include sizes(70px);
  // }
  // @include breakpoints.min(x-large) {
  //   @include sizes(80px);
  // }
}
