@use "@/styles/breakpoints";
@use "@/styles/sizes";

@mixin sizes($size) {
  width: $size;
  height: $size;
}

.logo {
  position: relative;
  width: 8.25rem;
  height: 8.25rem;

  @include breakpoints.min(medium) {
    @include sizes(7.25rem);
  }
  @include breakpoints.min(large) {
    @include sizes(6.5rem);
  }
}