@use "@/styles/colors";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.8vh;
  padding: 0 1.8vh;
  max-width: 400px;
  margin: 0 auto;
}

// .logo {
//   margin: 1.8vh;
// }

.form-wrapper {
  height: 50%;
  width: 100%;  
}

.form-wrapper > form {
  border: 3px solid colors.$primary-color;
  border-radius: 6px;
  padding: 2.2vh 1rem;
}
