@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/breakpoints";

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__button {
  padding-left: 16px;
  padding-right: 16px;
}

.dropdown__visible {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: sizes.$spacing-xx-small;
  z-index: 1;
  border-radius: 3px;
  width: 100%;
}
