@use "@/styles/colors";
@use "@/styles/breakpoints";
@use "@/styles/sizes";

section {
  padding: sizes.calcSizeOfVwPlusVhDividedByTwo(2);
  display: grid;
  grid-template-columns: 1fr;
  gap: sizes.calcSizeOfVwPlusVhDividedByTwo(2);
  @include breakpoints.min(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoints.min(large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product-card {
  border: 1.5px solid colors.$primary-color;
  border-radius: 6px;
  // padding: calc((2.2vh + 2.2vw) / 2);
  padding: sizes.calcSizeOfVwPlusVhDividedByTwo(2.2);
  display: grid;
  grid-template-columns: 12vh 1fr;
  gap: sizes.calcSizeOfVwPlusVhDividedByTwo(2);
  @include breakpoints.min(medium) {
    grid-template-columns: 1fr;
  }
}

.product-card__img {
  position: relative;
  height: sizes.calcSizeOfVwPlusVhDividedByTwo(15);
  width: sizes.calcSizeOfVwPlusVhDividedByTwo(15);
  margin-right: sizes.calcSizeOfVwPlusVhDividedByTwo(2);
  @include breakpoints.min(medium) {
    justify-self: center;
  }
}

.product-card > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  flex-grow: 1;
}

.product-card__title {
  font-size: sizes.calcSizeOfVwPlusVhDividedByTwo(3);
  grid-column: 1 / -1;
  font-weight: 500;
  @include breakpoints.min(medium) {
    font-size: sizes.calcSizeOfVwPlusVhDividedByTwo(2.6);
  }
  @include breakpoints.min(medium) {
    font-size: sizes.calcSizeOfVwPlusVhDividedByTwo(2.2);
  }
}

.product-card > div > div {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.product-card__price {
  font-size: sizes.calcSizeOfVwPlusVhDividedByTwo(3.5);
  grid-column: 1/ 2;
  color: #2c4c7f;
  @include breakpoints.min(large) {
    font-size: sizes.calcSizeOfVwPlusVhDividedByTwo(2.7);
  }
}
