@use "sizes";

html {
  box-sizing: border-box;
  font-size: sizes.$base;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: □hsl(0, 0%, 11%);
  height: 100dvh;
}
