$spacing-3x1: 3px;
$spacing-3x2: 6px;
$spacing-3x3: 9px;
$spacing-3x4: 12px;
$spacing-3x5: 15px;
$spacing-3x6: 18px;
$spacing-3x7: 21px;
$spacing-3x8: 24px;
$spacing-3x9: 27px;
$spacing-3x10: 30px;
$spacing-3x11: 33px;
$spacing-3x12: 36px;
$spacing-3x13: 39px;
$spacing-3x14: 42px;
$spacing-3x15: 45px;
$spacing-3x16: 45px;
$spacing-3x17: 48px;

@function calcSizeOfVwPlusVhDividedByTwo($size) {
  $sizevh: $size * 1vh;
  $sizevw: $size * 1vw;
  $result: calc(($sizevh + $sizevw) / 2);
  @return $result;
}
