@use "breakpoints";

$base: calc((1vh + 1vw) / 2);

$spacing-xx-small: 0.9rem;
$spacing-x-small: 1.2rem;
$spacing-small: 1.5rem;
$spacing-medium: 2.1rem;
$spacing-large: 3rem;

@include breakpoints.min(medium) {
  $spacing-xx-small: 0.6rem;
  $spacin-x-small: 0.9rem;
  $spacing-small: 1.2rem;
  $spacing-medium: 1.8rem;
  $spacing-large: 2.7rem;
}
@include breakpoints.min(large) {
  $spacing-xx-small: 0.3rem;
  $spacin-x-small: 0.6rem;
  $spacing-small: 0.9rem;
  $spacing-medium: 1.5rem;
  $spacing-large: 2.4rem;
}

@function calcSizeOfVwPlusVhDividedByTwo($size) {
  $sizevh: $size * 1vh;
  $sizevw: $size * 1vw;
  $result: calc(($sizevh + $sizevw) / 2);
  @return $result;
}
