@use "./colors";
@use "./sizes";
@use "./breakpoints";

.error-message {
  border-radius: 3px;
  padding: 9px;
  font-size: sizes.calcSizeOfVwPlusVhDividedByTwo(3);
  color: colors.$error;
  font-weight: 700;
}
